.todo-cell{
  display: table-cell; 
  padding: 0 5px;
  vertical-align: middle;
}
.todo-item{
  /*border-bottom: 1px dashed #ccc;*/
  padding: 10px;
  border-radius: 10px;
}
#todo-list{
  list-style-type: none;
  padding: 0;
}

#todo-list>li{
  border-bottom: 1px solid #f1f1f1;
}
.todo-done{
  text-decoration: line-through;
  color: #aaa;
}
.page-title{
  background-color: #232323;
  color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 20px 0;
  text-transform: uppercase;
}
.tab-pane{
  margin-top: 20px;
}
@media (min-width: 768px){
  .navbar-nav.navbar-right:last-child, .navbar-form.navbar-right:last-child {
  margin-right: 0;
  }

}
[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    color: #bababa;
    line-height: inherit;
    font-size: inherit;
}
.input {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  min-height: 42px;
}