<template name="cfd">
	<div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navegation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse2">
        <span class="sr-only">Navegation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color:#ff522c;">Clever Freelance</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">Acerca de</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fff;">Bienvenido Pepe<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="">Cerrar Sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
	</div>
  <div style="height: 40px;"></div>
	<nav>
	    <div class="navbar-white sidebar" role="navigation">
	      <div class="sidebar-nav navbar-collapse2 collapse">
	          <ul class="nav" id="side-menu">
	              <li>
	                  <a href="" class=""><i class="fa fa-tachometer fa-fw"></i> Dashboard</a>
	              </li>
	              <!-- <li>
	                  <a href=""><i class="fa fa-user fa-fw"></i> Freelancer</a>
	              </li> -->
	              <li>
	                  <a href="{{pathFor 'mySkills'}}"><i class="fa fa-star fa-fw"></i> My skills</a>
	              </li>
	              <li>
	                  <a href="{{pathFor 'myKnowledge'}}"><i class="fa fa-folder fa-fw"></i> Knowledge book</a>
	              </li>
	              <li class="active">
	                  <a href="#"><i class="fa fa-gears fa-fw"></i> Projects<span class="fa arrow"></span></a>
	                  <ul class="nav nav-second-level">
	                      <li>
	                        <a href="{{pathFor 'createProject'}}" style="color: #449D44"><i class="fa fa-plus-circle fa-fw"></i> New Project</a>
	                      </li>
												{{#each projects}}
	                      	<li><a href="{{pathFor 'projectShow'}}">{{name}}</a></li>
          							{{/each}}
	                  </ul>
	                  <!-- /.nav-second-level -->
	              </li>
	          </ul>
	      </div>
	      <!-- /.sidebar-collapse -->
	  </div>
	  <!-- /.navbar-static-side -->
	</nav>

    <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
	          {{#each thisArray}}
	              {{> yield}}
	          {{/each}}
          </div>
        </div>
    </div>
    <!-- /#page-wrapper 
    <hr class="featurette-divider">-->

    <!-- FOOTER 
    <footer style="margin: 0 30px;">
      <p class="pull-right"><a href="#">Top</a></p>
      <p>&copy; 2015 Clever Freelance &middot; <a href="#"> Terms &amp; Conditions</a></p>
    </footer>-->


</template>



