<template name="createProject">
	<div class="row">
		<div class="col-md-12">
			<div class="page-title">
				<h2>New project</h2>
			</div>
		</div>
	</div>
	<form class="new-project">
		<div class="form-group">
			<label for="">Name</label>
			<input type="text" name="name" class="form-control" id="" placeholder="Project's name">
		</div>
		<div class="form-group">
			<label for="">Cost</label>
			<div class="input-group">
			    <div class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></div>
				<input type="text" name="cost" class="form-control" id="" placeholder="Project's cost">
			</div>
		</div>
		<div class="form-group">
			<label for="">Deadline</label>
			<div class="input-group">
			    <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
				<input type="text" name="deadline" class="form-control" id="datepicker">
			</div>
		</div>
		<div class="form-group">
			<label for="">Skills</label>
			<div class="input-group">
			    <div class="input-group-addon"><span class="glyphicon glyphicon-star"></span></div>
				<input type="text" name="skills" class="form-control" id="" placeholder="Required skills">
			</div>
		</div>
	
		<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create</button>
	</form>
</template>