<template name="knowledge">
	<div class="panel panel-default">
		<div class="panel-heading" style="padding: 0;">
			<ul id="todo-list" style="margin: 0;">
				<li class="todo-item">
					<div class="todo-cell" style="width: 100%;">
						<h3 class="panel-title"><i class="fa fa-file-code-o"></i> {{name}}</h3>
					</div>
						{{#if isPrivate}}
							<div class="todo-cell">
								<button type="button" class="toggle-private btn btn-warning"><span class="glyphicon glyphicon-eye-close"></span></button>
							</div>
						{{else}}
							<div class="todo-cell">
								<button type="button" class="toggle-private  btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
							</div>
						{{/if}}
					<div class="todo-cell">
						<button type="button" class="toggle-private  btn btn-primary"><i class="fa fa-share-alt"></i></button>
					</div>
					<div class="todo-cell">
						<button type="button" class="delete-task btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
				</li>
			</ul>
			
		</div>
		<div class="panel-body">
			{{{content}}}
		</div>
	</div>

</template>