<template name="myKnowledge">
	<div class="col-md-12">
		<div class="page-title">
			<h2>My knowledge Book</h2>
		</div>
	</div>
	<div class="col-md-12">
		<form class="new-knowledge">
			<div class="todo-cell" style="width: 100%;">
				<input type="text" name="name" class="form-control" id="" placeholder="New knowledge page">
				<div class="input" id="content" contenteditable placeholder="content"></div>
				<input type="text" name="skills" class="form-control" id="" placeholder="Skills">
			</div>
			<div class="todo-cell">
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create page</button>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<hr>
			{{#each otro}}
				{{> knowledge}}
			{{/each}}
		</div>
	</div>
</template>
