<template name="mySkills">
	<div class="col-md-12">
		<div class="page-title">
			<h2>My Skills</h2>
		</div>
	</div>
	<div class="col-md-12">
		<form class="new-skill">
			<div class="todo-cell" style="width: 100%;">
				<input type="text" name="text" class="form-control" id="" placeholder="New skill to learn">
			</div>
			<div class="todo-cell">
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create</button>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>What i want to know</h3>
			<hr>
			{{#each skillsIWant}}
				{{> skill}}
			{{/each}}
		</div>
		<div class="col-md-6">
			<h3>What i know</h3>
			<hr>
			{{#each skillsIKnow}}
				{{> skill}}
			{{/each}}
		</div>
	</div>
</template>

