<template name="projectShow">
	<div class="row">
		<div class="col-md-12">
			<div class="page-title">
				<h2>{{projectName}}</h2>
			</div>
		</div>
	</div>
	{{#with projectDetails }}
	<div class="row">
		<div class="col-md-12">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	          <div class="panel panel-default">
	            <div class="panel-heading" role="tab" id="headingTwo">
	              <h4 class="panel-title">
	                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	                  <i class="fa fa-tachometer"></i> Indicadores del proyecto
	                </a>
	              </h4>
	            </div>
	            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
	              <div class="panel-body">
	                <div class="row">
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-primary">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-check-square-o fa-4x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge">{{currentDones}}/{{totalTodos}}</div>
	                                        <div class="mini">Tasks</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-green">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-tasks fa-4x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge">{{progress}}%</div>
	                                        <div class="mini">Progress</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-yellow">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-clock-o fa-4x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge">{{totalEffort}}</div>
	                                        <div class="mini">Effort</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-red">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-dollar fa-4x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge">{{currentCost}}</div>
	                                        <div class="mini">Cost</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row" style="margin-top: 10px;">
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-primary">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-calendar fa-4x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge">{{daysElapsed}}</div>
	                                        <div class="mini">Elapsed days</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-green">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-flag fa-4x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge">{{avgDoneUpToNow}}</div>
	                                        <div class="mini">AVG Done</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-yellow">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-flag-o fa-4x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge">{{avgStillNotDone}}</div>
	                                        <div class="mini">AVG Not Done</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-red">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-bullhorn fa-4x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge">{{daysLeft}}</div>
	                                        <div class="mini">Days left</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div style="text-align: center;">
				{{#if performanceAdvice}}
                	<p><strong><i class="fa fa-heartbeat"></i> Warning! If you won't increase the effort, you will not end.</strong></p>
                {{else}}
                	<p><strong><i class="fa fa-rocket"></i> Well done. You'll finish this project on time</strong></p>
                {{/if}}
                {{#if costWarning}}
                	<p style="color: #D9534F"><strong><i class="fa fa-exclamation-triangle"></i> Project has exceeded budget</strong></p>
            	{{/if}}
            </div>
		</div>
	</div>
	{{/with}}
	<div class="row">
		<div class="col-md-12">
			<div role="tabpanel">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#todos" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-check"></span> Todo</a></li>
					<li role="presentation"><a href="#settings" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span> Project Details</a></li>
					<li role="presentation"><a href="#performance" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-equalizer"></span> Performance </a></li>
					<li role="presentation"><a href="#client-side" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Client side </a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="todos">
						<form class="new-task">
							<div class="todo-cell" style="width: 100%;">
								<input type="text" name="text" class="form-control" id="" placeholder="New Todo">
							</div>
							<div class="todo-cell">
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create</button>
							</div>
						</form>
						<div class="row">
							<div class="col-md-12">
								<hr>
								{{#each tasks}}
									{{> task}}
								{{/each}}
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="settings">
						<div style="text-align: right;">
							<button type="button" class="delete-project btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete project</button>
						</div>
						<form class="edit-project">
							<div class="form-group">
								<label for="">Name</label>
								<input type="text" name="name" class="form-control" value="{{name}}" >
							</div>
							<div class="form-group">
								<label for="">Cost</label>
								<div class="input-group">
			     					<div class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></div>
									<input type="text" name="cost" class="form-control" value="{{cost}}">
								</div>
							</div>
							<div class="form-group">
								<label for="">Deadline</label>
								<div class="input-group">
			      					<div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
									<input type="text" name="deadline" class="form-control" id="datepicker" value="{{deadline}}">
								</div>
							</div>
							<div class="form-group">
								<label for="">Skills</label>
								<div class="input-group">
								    <div class="input-group-addon"><span class="glyphicon glyphicon-star"></span></div>
									<input type="text" name="skills" class="form-control" id="" value="{{skills}}">
								</div>
							</div>
							<div style="text-align: right;">
								<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit project</button>
							</div>
						</form>
					</div>
					<div role="tabpanel" class="tab-pane" id="performance">
					...
					</div>
					<div role="tabpanel" class="tab-pane" id="client-side">
						<form class="new-request">
							<div class="todo-cell" style="width: 100%;">
								<input type="text" name="text" class="form-control" id="" placeholder="New request">
							</div>
							<div class="todo-cell">
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create</button>
							</div>
						</form>
						<div class="row">
							<div class="col-md-12">
							<hr>
							{{#each requests}}
								{{> request}}
							{{/each}}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>