<template name="request">
	<ul id="todo-list">
		<li class="todo-item" style="border:none;">
			<div class="todo-cell" >
				<input type="checkbox" checked="{{checked}}" class="toggle-checked" />
			</div>
			<div class="todo-cell {{#if checked}}todo-done{{/if}}" style="width: 100%;">
				{{text}}
			</div>
			<div class="todo-cell">
				<button type="button" class="delete-task btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
			</div>
		</li>
		<li class="todo-item">
			<div class="todo-cell">
				<strong>Files: </strong>
				<span class="btn btn-default btn-file">
			  		<input multiple class="file file-input" type="file"/>
			  	</span>
					{{#each uploads}}
					<span style="background-color: #f1f1f1;">
						<a href="{{url download=true}}">{{name}}</a>
						<a type="button" class="btn btn-xs btn-danger delete-file"><span class="glyphicon glyphicon-trash"></span></a>
					</span>
					{{/each}}
			</div>
		</li>
	</ul>
</template>