<template name="skill">
	<ul id="todo-list">
		<li class="todo-item">
			<div class="todo-cell">
				<input type="checkbox" checked="{{checked}}" class="toggle-checked" />
			</div>
			<div class="todo-cell {{#if checked}}todo-done{{/if}}" style="width: 100%;">
				{{text}}
			</div>
			{{#if checked}}
				{{#if isPrivate}}
					<div class="todo-cell">
						<button type="button" class="toggle-private btn btn-warning"><span class="glyphicon glyphicon-eye-close"></span></button>
					</div>
				{{else}}
					<div class="todo-cell">
						<button type="button" class="toggle-private  btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
					</div>
					<div class="todo-cell">
						<button type="button" class="toggle-private  btn btn-primary"><i class="fa fa-share-alt"></i></button>
					</div>
				{{/if}}
			{{/if}}
			<div class="todo-cell">
				<button type="button" class="delete-task btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
			</div>
		</li>
	</ul>
</template>