<template name="task">
	<ul id="todo-list">
		<li class="todo-item">
			<div class="todo-cell">
				<input type="checkbox" checked="{{checked}}" class="toggle-checked" />
			</div>
			<div class="todo-cell {{#if checked}}todo-done{{/if}}" style="width: 100%;">
				{{text}}
			</div>
			<div class="todo-cell">
				{{#if startTime}}
				<button type="button" class="stop-task btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
				{{else}}
					{{#if duration}}
						<button type="button" class="play-task btn btn-success"><span class="glyphicon glyphicon-time"></span> {{duration}}</button>
					{{else}}
						<button type="button" class="play-task btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
					{{/if}}
				{{/if}}
			</div>
			<div class="todo-cell">
				<button type="button" class="delete-task btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
			</div>
		</li>
	</ul>
</template>